<launch>

    <node name="camera_calibrator" pkg="camera_calibration" type="cameracalibrator.py" output="screen"
          args="--size 9x6 --square 0.025">
        <remap from="right" to="/stereo_splitter/right/image_raw"/>
        <remap from="left" to="/stereo_splitter/left/image_raw"/>
        <remap from="right_camera" to="/stereo_splitter/right"/>
        <remap from="left_camera" to="/stereo_splitter/left"/>
    </node>

</launch>
