<launch>
    <arg name="video_device" default="/dev/video2"/>
    <arg name="width" default="2560"/>
    <arg name="height" default="720"/>

    <node name="stereo_driver_node" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="$(arg video_device)"/>
        <param name="image_width" value="$(arg width)" />
        <param name="image_height" value="$(arg height)" />
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find stereo_driver)/rviz/image_capture.rviz"/>


</launch>
